:root {
  --yellow: #f4d04e;
  --gray-950: #111;
  --gray-500: #6b6b6b;
  --white: #fff;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--yellow);

  display: flex;
  justify-content: center;
  align-items: center;
}
